@model Response
@{
    ViewData["Title"] = "Forget Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="top:50%;right:25%;">
            @if (Model.Message == "Your Password has been Successfully Reset")
            {
                <div class="alert alert-success" role="alert">
                    @Model.Message, If you want to login then Click
                    <a asp-action="Login" asp-controller="Account" class="btn btn-sm btn-primary">Login</a>
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    Your <strong>@Model.Message</strong> has been sent to registered Email, Kindly Check your Email to reset your password.
                </div>
            }
            <div class="d-grid">
                <a asp-action="Login" asp-controller="Account" class="btn btn-warning btn-block"> Back</a>
            </div>
        </div>
    </div>
</div>