@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/LayoutLR.cshtml";
}

<form method="post" asp-action="Register" asp-controller="Account">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px;">Create An Account</h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="mb-2" asp-for="Email"></label><span class="text-danger">*</span>
        <input type="email" asp-for="Email" class="form-control" autocomplete="on" placeholder="Please Enter Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2" asp-for="Password"></label><span class="text-danger">*</span>
        <input type="password" asp-for="Password" class="form-control" placeholder="Please Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2" asp-for="ConfirmPassword"></label><span class="text-danger">*</span>
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary m-2">Register</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   