<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
    </head>
    <body style="font-family:'Segoe UI Symbol';">
        <div>
            <table align="center">
                <tr>
                    <td>
                        <table style="background-color:#0d494c;" width="500px" align="center">
                            <tbody>
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td height="43" align="center">
                                                        <h1 style="color:white;line-height:1rem;">{{title}}</h1>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="background-color:azure;" width="500px" align="center">
                            <tbody>
                                <tr>
                                    <td style="padding:20px 20px 0px 0px;" align="left">
                                        <p style="text-align:justify;margin-top:0px;">
                                            Seem Like you have requested to reset your password. Please click the button below to reset your password.
                                        </p>
                                        <div style="text-align:center;margin-top:30px;margin-bottom:30px">
                                            <a href="{{callbackUrl}}" style="background-color:blue;color:white;padding:8px 15px;text-decoration:none;
                                                border-radius:10px;">Reset Password</a>
                                        </div>
                                        <p style="text-align:justify;margin-top:0px;">If you did not request a password reset, please ignore this email.</p>
                                        <div style="text-align:center;">
                                            <a href="" target="_blank"></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
