<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <table align="center">
                <tr>
                    <td>
                        <table style="background-color:darkcyan;width:500px;" align="center">
                            <tbody>
                                <tr>
                                    <td>
                                        <h1 style="text-align:center;color:white;">{{title}}</h1>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="background-color:azure;width:500px;" align="center">
                            <tbody>
                                <tr>
                                    <td>
                                        <h1 style="text-align:center;font-size:large;">Congratulation! You're Registered.'</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px;">
                                        <p style="margin-bottom:0px;">Hi  <b> <i>{{Username}}</i> </b>, </p><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px;">
                                        <p style="text-align:justify;margin-top:0px;">
                                            Dear  <b><i>{{Username}}</i></b>, Thank you Showing Your Interest
                                            in our Web Application and you're authorized to use our Application.
                                        </p>
                                        <div>
                                            Now Click on the below button to Login into your Account.
                                            <a href="{{url}}" style="background-color:blue;color:white;padding:8px 15px;text-decoration:none;border-radius:10px;">
                                                Click Here to Login
                                            </a>
                                        </div>
                                        <p>
                                            <b>
                                                Thanks for Using our Web Application.<br />
                                                Regards,<br />
                                                Mutayyab Imran
                                                0345-7848519
                                            </b>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
